body {
  margin: 0;
  color:#848180            
}

h1, h2{
  font-family: 'Bakbak One', sans-serif;
  margin: 0; 
}

h1{
  width: fit-content;
  font-size: 5vw;
}

h3, h4, h5, p{
  font-family: Cambria;
  margin: 0;
  margin-left: 10px;
}

h3{
  font-size: 30px;
}

h4{
  font-size: 20px;
}

h5{
  margin: 0;
}

img{
  width: 60%;
  margin-top: 2%;
}

ul{
  text-align: left;
}

.App {
  min-height: 842px; /* Minimum height of an A4 page */
}

.header {
  margin-top: 0;
  height: fit-content;
  text-align: left;
  background-color: #e7f5ff;
  padding-left: 35%;
}

.main {
  display: flex;
  justify-content: flex-end;
}

.left-side {
  width: 30%;
  margin: 2%;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff0ed;
  box-shadow: -10px -10px 20px grey;
}

.right-side {
  width: 65%;
  margin-right: 2%;;
  margin-left: 2%;
}
