body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0; /* Remove top margin */
}

.App {
  min-height: 842px; /* Minimum height of an A4 page */
}

.header {
  margin-top: 0;
  height: calc(842px / 5); /* Height of 1/5 of an A4 page */
  text-align: center;
  background-color: aqua;
  color:slategray
}

.main {
  display: flex;
  justify-content: flex-end;
}

.left-side {
  width: 30%;
  margin: 5%;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: bisque;
  color:slategray
}

.right-side {
  width: 60%;
  margin-right: 2%;;
  margin-left: 2%;
  color:slategray
}

.section {
  margin-bottom: 20px;
}

.tech-list img {
  height: 20px;
  margin-right: 5px;
}